*{
    margin: 0px;
    padding: 0px;
}
#site{
    background-color: gray;
    width: auto;
    margin: 20px 20px 0px 20px;
    padding: 20px 20px 20px 20px;
}
#page{
    width: auto;
    margin: 0px 500px 0px 20px;
    padding: 0% 20px 0px 20px;
    margin-top: 0px;
    padding-top: 0px;
}
ul{
    list-style-type: none;
    display: flex;
    background-color: black;
    margin: 0px 20px 0px 20px;
    padding: 5px 20px 5px;
    padding: 5px;
    /* border:20px */
}
 a{
    text-decoration: none;
    border-left: 12px;
    border-color:2px solid white; 
    color: white;
} 
/* li{
    list-style-type: none;
    padding: 6%;
    /* border-left: 20px; */
    /* border-right: 2px solid white;  */
    /* border-color: blue; */
    /* border */
 */
/* h1{
    color: blue;
    margin: 0px 500px 0px 20px;
    padding: 0% 20px 0px 20px;
    margin-top: 0px;
    padding-top: 0px;
    background-color: rgb(138, 78, 78); 
} */
/* .class01{
    margin: 0px 20px 0px 20px;
    padding: 0% 20px 0px 20px;
    margin-top: 0px;
    padding-top: 0px;
} */
/* #para1{ */
    /* margin: 0px  40px;
    padding-bottom: 25px; */

/* } */
/* .class01{
    display: flex;
} */
/* #para2{
    display: block;
    height: 500px;
    background-color: gray;
    margin-left: 100px;
    
}  */
#para3{
    text-align: start;
    margin-top: -20px;
    background-color: #f0f0f0;
    height: 600px;
    margin-right: 20px;
    padding-top: 5px;
    margin-left: 20px;

}
h3{
    margin: 30px 10px -5px 10px;
}
/* #para5{
    background-color: gray;
    text-align: right;
    margin-top: -20px;
    margin-right: 20px;
} */
#para2{
     margin-top: 2px;
     margin-left: 10px;
}
@media screen and (min-width: 700px) {
    #para3,#para1 {   
      flex-direction: column;
    }
  }
footer{
    text-align: end;
    background-color: gray;
    border: 25px;
    width: 90vw;
    margin-left: 3%;
    /* margin-right: 3%; */
    padding-right: 4%;
    margin-bottom: 25px;
    height: 60px;
    margin-right: 5px;

}
/* @media screen and (min-width: 800px) {
    #para1 {width: 700px; float: left;}
    #para3 {margin-left: 0px; flex-direction: column; }
  }  */
  /* @media (max-width: 600px) {
    .class01 {
      flex-direction: column; 
      flex: 100%;
    } */